html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	min-width: 350px;
	font-family: "Balsamiq Sans", Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	background-color: #fff7e8;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

button,
input,
textarea,
select {
	font: inherit;
}

h1,
h2,
h3,
p {
	margin: 0;
}

.icon {
	display: inline-block;
	width: 100%;
	height: auto;
	fill: currentColor;
}

.icon-youtube {
	width: 38px;
	height: 30px;
}

.icon-linkedin {
	width: 30px;
	height: 30px;
}

.icon-telegram {
	width: 30px;
	height: 25px;
}

.icon-instagram {
	width: 30px;
	height: 30px;
}

.icon-facebook {
	width: 16px;
	height: 30px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.screen {
	position: relative;
	overflow: hidden;
}

.header {
	display: flex;
	justify-content: center;
	padding-top: 40px;
}

.header__inner {
	display: flex;
	align-items: center;
	gap: 46px;
}

.header__icon {
	display: flex;
	width: 14px;
	height: 14px;
	color: #000;
}

.header__link {
	display: flex;
}

.header__logo {
	display: flex;
}

.header__logo_prostonashe {
	width: 158px;
	height: 50px;
}

.header__logo_zhittelub {
	width: 155px;
	height: 85px;
}

.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 36px;
	padding-bottom: 40px;
	overflow: hidden;
}

.hero:before {
	content: "";
	position: absolute;
	top: calc(50% - 100px);
	left: 50%;
	display: block;
	width: 1920px;
	height: 1224px;
	max-width: 100%;
	transform: translateX(-50%);
	background-image: url("../img/main-bg.png");
	background-size: auto;
	background-position: top;
	background-repeat: no-repeat;
	z-index: -1;
}

.hero__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - 201px);
}

.hero__title {
	width: 100%;
	max-width: 614px;
	margin-top: auto;
}

.hero__title h1 {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	color: #004c94;
}

.hero__title h1:after {
	content: "";
	display: inline-block;
	vertical-align: text-top;
	width: 44px;
	height: 44px;
	background-image: url("../img/heart.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.hero__content {
	position: relative;
	margin-top: 34px;
	margin-bottom: auto;
}

.hero__desc {
	position: relative;
	width: 100%;
	max-width: 294px;
	padding: 28px 0;
}

.hero__desc::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 363px;
	height: 107px;
	background-image: url("../img/desc-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	transform: translate(-50%, -50%);
}

.hero__desc h2 {
	position: relative;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	color: #fff;
	z-index: 1;
}

.hero__text {
	position: absolute;
}

.hero__text_left {
	top: 50%;
	right: 50%;
	width: 200px;
	max-width: 130px;
	transform: translate(-210px, -20px) rotate(-5deg);
}

.hero__text_left:before {
	content: "";
	position: absolute;
	top: 14px;
	left: 34px;
	display: block;
	width: 89px;
	height: 32px;
	background-image: url("../img/underline-left.png");
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotate(5deg);
}

.hero__text_left:after {
	content: "";
	position: absolute;
	top: 66px;
	left: 80px;
	display: block;
	width: 63px;
	height: 16px;
	background-image: url("../img/arrow-left.png");
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotate(5deg);
}

.hero__text_right {
	top: 50%;
	left: 50%;
	width: 200px;
	max-width: 150px;
	transform: translate(210px, -20px) rotate(5deg);
}

.hero__text_right:before {
	content: "";
	position: absolute;
	top: 14px;
	left: 42px;
	display: block;
	width: 96px;
	height: 11px;
	background-image: url("../img/underline-right.png");
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotate(-5deg);
}

.hero__text_right:after {
	content: "";
	position: absolute;
	top: 74px;
	left: -24px;
	display: block;
	width: 63px;
	height: 16px;
	background-image: url("../img/arrow-right.png");
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotate(-5deg);
}

.hero__text p {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #1c344a;
}

.hero__items {
	position: relative;
	display: flex;
	justify-content: center;
	gap: 60px;
	margin-top: 28px;
	margin-bottom: auto;
}

.pasochka {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	width: 100%;
	max-width: 240px;
	flex-shrink: 0;
}

.pasochka__img,
.pasochka__action {
	display: flex;
}

.pasochka__action_mob {
	display: none;
}

.pasochka__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 240px;
	min-height: 70px;
	padding: 14px 30px;
	font-size: 18px;
	font-weight: 400;
	box-shadow:
		0 7px 12px 0 rgba(7, 83, 7, 0.3),
		inset 0 5px 10px 0 #67ce6e;
	background: linear-gradient(180deg, #38b85c 0%, #1b7735 100%);
	border: none;
	border-radius: 35px;
	color: #fff;
	cursor: pointer;
}

.pasochka__info {
	position: absolute;
	top: 168px;
	left: 50%;
	transform: translateX(546px) rotate(4deg);
}

.pasochka__info_mob {
	display: none;
}

.pasochka__dop {
	position: relative;
	width: 100%;
	max-width: 170px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.pasochka__dop:before {
	content: "";
	flex-shrink: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 202px;
	height: 202px;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 50%;
	z-index: -1;
}

.pasochka__dop:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	width: 40px;
	height: 44px;
	transform: translate(-16px, 44px);
	background-image: url("../img/pointer.svg");
	background-size: auto;
	background-repeat: no-repeat;
}

.pasochka__dop img {
	margin-top: -16px;
}

.pasochka__dop p {
	position: relative;
	max-width: 168px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #1c344a;
}

.pasochka__dopText:before {
	content: "";
	position: absolute;
	top: 58px;
	left: 26px;
	display: block;
	width: 145px;
	height: 48px;
	transform: rotate(-4deg);
	background-image: url("../img/underline.png");
	background-size: auto;
	background-repeat: no-repeat;
}

.hero__sub {
	margin-top: 30px;
}

.hero__sub p {
	font-size: 22px;
	font-weight: 700;
	color: #004c94;
}

.hero__more {
	margin-top: 15px;
	margin-bottom: auto;
}

.hero__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 14px;
	gap: 10px;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	border-radius: 30px;
	color: #1c344a;
	cursor: pointer;
}

.hero__btn svg {
	width: 12px;
	height: 7px;
}

.recept {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.recept:before {
	content: "";
	position: absolute;
	top: 56px;
	left: 50%;
	display: block;
	width: 1920px;
	height: 1224px;
	max-width: 100%;
	transform: translateX(-50%);
	background-image: url("../img/main-bg.png");
	background-size: auto;
	background-position: top;
	background-repeat: no-repeat;
	z-index: -1;
}

.recept__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recept__title {
	width: 100%;
	max-width: 614px;
}

.recept__title h2 {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	color: #004c94;
}

.recept__title h2:after {
	content: "";
	display: inline-block;
	vertical-align: text-top;
	width: 44px;
	height: 44px;
	background-image: url("../img/heart.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.recept__action {
	position: relative;
	margin-top: 20px;
}

.recept__action:before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 50px;
	height: 46px;
	transform: translateX(150px);
	background-image: url("../img/arrow-donat.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.recept__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 240px;
	min-height: 70px;
	padding: 14px 30px;
	font-size: 18px;
	font-weight: 400;
	box-shadow:
		0 7px 12px 0 rgba(7, 83, 7, 0.3),
		inset 0 5px 10px 0 #67ce6e;
	background: linear-gradient(180deg, #38b85c 0%, #1b7735 100%);
	border: none;
	border-radius: 35px;
	color: #fff;
	cursor: pointer;
}

.recept__items {
	display: flex;
	justify-content: center;
	gap: 60px;
	margin-top: 44px;
}

.receptPasochka {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	width: 100%;
	max-width: 240px;
	flex-shrink: 0;
}

.receptPasochka__img {
	display: flex;
}

.receptPasochka__name {
	margin-top: 28px;
	max-width: 262px;
}

.receptPasochka__name_fix {
	margin: 28px -11px 0;
}

.receptPasochka__name h3 {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	color: #004c94;
}

.receptPasochka__action {
	display: flex;
	justify-content: center;
	width: 100%;
}

.receptPasochka__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 240px;
	min-height: 70px;
	padding: 14px 30px;
	font-size: 18px;
	font-weight: 400;
	box-shadow:
		0 7px 12px 0 rgba(32, 98, 197, 0.5),
		inset 0 5px 10px 0 #4b9fff;
	background: linear-gradient(180deg, #3da1ff 0%, #004c94 100%);
	border: none;
	border-radius: 35px;
	color: #fff;
	cursor: pointer;
}

.footer {
	position: relative;
	padding-top: 294px;
}

.footer:before {
	content: "";
	position: absolute;
	top: -58px;
	left: 50%;
	display: block;
	width: 1920px;
	height: 649px;
	max-width: 100%;
	transform: translateX(-50%);
	background-image: url("../img/footer-bg.png");
	background-size: auto;
	background-position: top;
	background-repeat: no-repeat;
	z-index: -1;
}

.footer__inner {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
}

.footer__partner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__partner + .footer__partner {
	margin-top: 30px;
}

.footer__name h3 {
	font-size: 36px;
	font-weight: 400;
	color: #fff;
}

.footer__socials {
	display: flex;
	align-items: center;
	gap: 20px;
}

.footer__social {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 54px;
	height: 54px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	color: #fff;
}

.footer__social svg {
	color: #fff;
}

.footer hr {
	display: block;
	width: 100%;
	height: 1px;
	margin: 45px 0 0;
	background-color: rgba(255, 255, 255, 0.1);
	border: none;
}

.footer__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 47px 0;
}

.footer__copy p {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	opacity: 0.5;
}

.footer__policy a {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	opacity: 0.5;
	transition: opacity 0.4s ease;
}

.footer__policy a:hover {
	opacity: 1;
}

.tree__top:before {
	content: "";
	position: absolute;
	top: 0;
	right: 50%;
	display: block;
	width: 172px;
	height: 90px;
	transform: translateX(-340px);
	background-image: url("../img/tree-top-left.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: -1;
}

.tree__top:after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 173px;
	height: 90px;
	transform: translateX(340px);
	background-image: url("../img/tree-top-right.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: -1;
}

.tree__center:before {
	content: "";
	position: absolute;
	top: 20%;
	left: 50%;
	display: block;
	width: 196px;
	height: 258px;
	transform: translateX(-984px);
	background-image: url("../img/tree-left.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: -1;
}

.tree__center:after {
	content: "";
	position: absolute;
	top: 20%;
	right: 50%;
	display: block;
	width: 196px;
	height: 258px;
	transform: translateX(984px);
	background-image: url("../img/tree-right.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: -1;
}

.tree__center_fix:before,
.tree__center_fix:after {
	top: 520px;
}

.tree__center_mob:before,
.tree__center_mob:after,
.tree__center_mob2:before,
.tree__center_mob2:after {
	display: none;
}

.tree__bot:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	width: 137px;
	height: 281px;
	transform: translateX(-860px);
	background-image: url("../img/tree-bottom-left.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: -1;
}

.tree__bot:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 50%;
	display: block;
	width: 117px;
	height: 199px;
	transform: translateX(860px);
	background-image: url("../img/tree-bottom-right.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: -1;
}

.tree__fot {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	width: 273px;
	height: 190px;
	transform: translateX(-130px);
	background-image: url("../img/tree-bottom.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: -1;
}

.modal {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 20px 0;
	background: rgba(0, 0, 0, 0.5);
	transition:
		opacity 0.4s ease,
		visibility 0.4s ease;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	overflow-y: auto;
	z-index: 1000;
}

.modal.is-open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.modal__content {
	position: relative;
	width: 100%;
	max-width: 811px;
	padding: 50px;
	margin: auto;
	background: #fff;
	transform: translateY(-120px);
	transition: transform 0.4s ease;
	border-radius: 30px;
	z-index: 1;
}

.modal__content_thanks {
	max-width: 642px;
	padding: 60px;
}

.modal.is-open .modal__content {
	transform: translateY(0);
}

.modal__close {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: none;
	color: #1c344a;
	transition: opacity 0.2s ease;
	opacity: 0.5;
	cursor: pointer;
}

.modal__close:hover {
	opacity: 1;
}

.modal__close svg {
	width: 14px;
	height: 14px;
}

.icon-plan:before {
	content: "";
	display: inline-block;
	vertical-align: text-top;
	width: 16px;
	height: 16px;
	margin-right: 6px;
	background-image: url("../img/plan.png");
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}
.icon-bowl:before {
	content: "";
	display: inline-block;
	vertical-align: text-top;
	width: 16px;
	height: 16px;
	margin-right: 6px;
	background-image: url("../img/bowl.png");
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}

.prepare {
	display: flex;
	flex-direction: column;
}

.prepare__start {
	display: flex;
	align-items: center;
	gap: 50px;
}

.prepare__name h2 {
	font-size: 30px;
	font-weight: 700;
	color: #004c94;
}

.prepare__detail {
	margin-top: 20px;
}

.prepare__detail p {
	font-size: 16px;
	font-weight: 700;
}

.prepare__detail ul {
	list-style: none;
	padding: 0;
	margin: 12px 0 0;
	font-size: 16px;
	font-weight: 400;
}

.prepare__detail li:before {
	content: "";
	display: inline-block;
	vertical-align: text-top;
	width: 16px;
	height: 16px;
	margin-right: 6px;
	background-image: url("../img/li.png");
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}

.prepare__end {
	margin-top: 20px;
}

.prepare__end p {
	font-size: 16px;
	font-weight: 400;
}

.prepare__end p:first-child {
	font-weight: 700;
}

.prepare__end p:last-child {
	margin-top: 12px;
}

.thanks {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.thanks:before {
	content: "";
	position: absolute;
	top: 76px;
	left: -36px;
	display: block;
	width: 45px;
	height: 38px;
	transform: rotate(-8deg);
	background-image: url("../img/heart2.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: none;
}

.thanks__title,
.thanks__desc {
	position: relative;
}

.thanks__title:before {
	content: "";
	position: absolute;
	top: 48px;
	right: -5px;
	display: block;
	width: 29px;
	height: 25px;
	transform: rotate(6deg);
	background-image: url("../img/heart2.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: none;
}

.thanks__title h2 {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	color: #004c94;
}

.thanks__desc:before {
	content: "";
	position: absolute;
	top: 60px;
	right: -18px;
	display: block;
	width: 22px;
	height: 19px;
	transform: rotate(-20deg);
	background-image: url("../img/heart2.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: none;
}

.thanks__desc {
	max-width: 420px;
}

.thanks__desc p {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	color: #1c344a;
}

@media (max-width: 1200px) {
	.tree__fot {
		transform: translateX(-236px);
	}
}

@media (max-width: 900px) {
	.header {
		padding-top: 30px;
	}

	.header__inner {
		gap: 39px;
	}

	.header__logo_prostonashe {
		width: 132px;
		height: 42px;
	}

	.header__logo_zhittelub {
		width: 130px;
		height: 71px;
	}

	.tree__top:before {
		top: -16px;
		right: 50%;
		width: 100px;
		height: 53px;
		transform: translateX(-26px);
	}

	.tree__top:after {
		top: -16px;
		left: 50%;
		width: 100px;
		height: 52px;
		transform: translateX(22px);
	}

	.hero {
		padding-top: 23px;
		padding-bottom: 39px;
	}

	.hero:before {
		top: calc(50% - 314px);
		max-width: unset;
		transform: translateX(-634px);
	}

	.hero__inner {
		min-height: calc(100vh - 163px);
	}

	.hero__title {
		max-width: 350px;
	}

	.hero__title h1 {
		font-size: 24px;
	}

	.hero__title h1:after {
		width: 26px;
		height: 26px;
	}

	.hero__content {
		margin-top: 20px;
	}

	.hero__desc {
		max-width: 229px;
		padding: 16px 0;
	}

	.hero__desc::before {
		width: 243px;
		height: 71px;
	}

	.hero__desc h2 {
		font-size: 16px;
	}

	.hero__text_left {
		transform: translate(-48px, 92px) rotate(-5deg);
	}

	.hero__text_left:after {
		top: -20px;
		left: 267px;
		width: 40px;
		height: 11px;
		transform: rotate(-120deg);
	}

	.hero__text_right {
		transform: translate(26px, 92px) rotate(5deg);
	}

	.hero__text_right:after {
		top: -16px;
		left: -160px;
		width: 40px;
		height: 10px;
		transform: rotate(125deg);
	}

	.hero__items {
		margin-top: 165px;
	}

	.pasochka__action {
		display: none;
		justify-content: center;
		width: 100%;
		margin-top: 20px;
	}

	.pasochka__action_mob {
		display: flex;
	}

	.hero__items {
		gap: 0 40px;
		max-width: 300px;
		flex-wrap: wrap;
	}

	.pasochka {
		max-width: 130px;
	}

	.pasochka:first-child {
		flex: 0 0 100%;
		max-width: unset;
	}

	.pasochka__img {
		max-width: 130px;
	}

	.pasochka__info {
		display: none;
		top: 22px;
		transform: translateX(86px) rotate(7deg);
	}

	.pasochka__info_mob {
		display: block;
	}

	.pasochka__dop {
		max-width: 90px;
	}

	.pasochka__dop p {
		font-size: 16px;
	}

	.pasochka__dop:before {
		width: 120px;
		height: 120px;
		background-color: #fff;
	}

	.pasochka__dopText:before {
		top: 32px;
		left: 4px;
		width: 80px;
		height: 29px;
		transform: rotate(6deg);
		background-image: url("../img/underline-left.png");
	}

	.pasochka__dop:after {
		display: none;
	}

	.pasochka__btn {
		max-width: 280px;
	}

	.pasochka__btn span {
		max-width: 200px;
	}

	.hero__sub {
		margin-top: 37px;
		max-width: 303px;
	}

	.hero__sub p {
		font-size: 16px;
		text-align: center;
	}

	.hero__more {
		margin-top: 10px;
	}

	.tree__center:before {
		width: 76px;
		height: 100px;
		transform: translateX(-226px);
	}

	.tree__center_fix:before {
		transform: translateX(-200px);
	}

	.tree__center:after {
		width: 76px;
		height: 100px;
		transform: translateX(226px);
	}

	.tree__center_fix:after {
		transform: translateX(200px);
	}

	.tree__bot:before {
		width: 46px;
		height: 96px;
		transform: translateX(-178px);
	}

	.tree__bot:after {
		width: 55px;
		height: 96px;
		transform: translateX(178px);
	}

	.recept {
		padding-top: 23px;
	}

	.recept:before {
		top: 44px;
		max-width: unset;
		transform: translateX(-634px);
	}

	.recept:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -300px;
		display: block;
		width: 100%;
		height: 600px;
		background-color: #bce3f0;
		z-index: -1;
	}

	.recept__title {
		max-width: 350px;
	}

	.recept__title h2 {
		font-size: 24px;
	}

	.recept__title h2:after {
		width: 26px;
		height: 26px;
	}

	.recept__action {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.recept__btn {
		max-width: 280px;
	}

	.recept__btn span {
		max-width: 200px;
	}

	.recept__action:before {
		top: -24px;
		left: 50%;
		width: 36px;
		height: 33px;
		transform: translateX(140px) rotate(-20deg);
	}

	.recept__items {
		flex-wrap: wrap;
		max-width: 240px;
		gap: 50px;
		margin-top: 64px;
	}

	.receptPasochka {
		gap: 0;
	}

	.receptPasochka__img {
		max-width: 200px;
	}

	.receptPasochka__action {
		margin-top: 20px;
	}

	.footer {
		padding-top: 163px;
		z-index: 1;
	}

	.footer:before {
		top: 0;
		left: 0;
		width: 1780px;
		height: 600px;
		max-width: unset;
		transform: translateX(0);
		background-size: cover;
	}

	.footer__partner {
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}

	.footer__partner + .footer__partner {
		margin-top: 45px;
	}

	.footer__name h3 {
		font-size: 30px;
	}

	.footer hr {
		margin-top: 40px;
	}

	.footer__info {
		flex-direction: column;
		align-items: flex-start;
		padding: 40px 0;
		gap: 20px;
	}

	.modal__content {
		max-width: 350px;
		padding: 40px 20px;
	}

	.prepare__start {
		flex-direction: column;
		gap: 20px;
	}

	.prepare__img {
		max-width: 260px;
	}

	.prepare__name h2 {
		font-size: 26px;
	}

	.modal__content_thanks {
		padding: 35px 40px;
	}

	.thanks:before {
		top: 64px;
		left: -14px;
		display: block;
		width: 34px;
		height: 29px;
	}

	.thanks__title:before {
		top: 67px;
		right: 0px;
		width: 22px;
		height: 18px;
	}

	.thanks__title h2 {
		font-size: 24px;
	}

	.thanks__desc:before {
		top: 54px;
		right: 14px;
		width: 16px;
		height: 13px;
	}

	.thanks__desc p {
		font-size: 18px;
	}

	.tree__fot {
		left: 0;
		bottom: 322px;
		width: 96px;
		height: 138px;
		transform: translateX(312px);
		background-image: url("../img/tree-bottom_mob.png");
	}

	.tree__bot:after {
		z-index: 1;
	}

	.tree__center_fix:before {
		top: 540px;
	}

	.tree__center_fix:after {
		top: 560px;
	}

	.tree__center_mob:before,
	.tree__center_mob:after,
	.tree__center_mob2:before,
	.tree__center_mob2:after {
		display: block;
	}

	.tree__center_mob:before {
		top: 980px;
	}

	.tree__center_mob:after {
		top: 1000px;
	}

	.tree__center_mob2:before {
		top: 1440px;
	}

	.tree__center_mob2:after {
		top: 1460px;
	}
}

@media (max-width: 390px) {
	.hero:before {
		top: calc(50% - 168px);
		transform: translateX(-50%);
		background-image: url("../img/main-bg_mob.png");
	}

	.recept:before {
		top: 83px;
		transform: translateX(-50%);
		background-image: url("../img/main-bg_mob.png");
	}

	.recept:after {
		height: 1400px;
	}
}
